/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
    EXTERNAL STYLESHEETS IMPORTS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*+++++++++
   RESETS
+++++++++*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------
 END OF RESET
----------*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             UTILITIES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sp-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
  color: color(black);
}

ul {
  list-style-type: none;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
        GENERAL STYLINGS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             VARIABLES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
         FUNCTIONS and MIXINS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #f3af03;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border: 0;
    background-clip: content-box;
  }
}
html, body {
  color: #161616;
  overflow-x: hidden;
}

.hero-img {
  background-image: url(../assets/hero-img.jpg);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position-x: -180px;
  background-position-y: -10px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-img::after {
  content: " ";
  width: 100%;
  height: 100%;
  background: #161616;
  z-index: 1;
}

header {
  background-color: rgba(255, 255, 255, 0.1647058824);
  position: fixed;
  width: 100%;
  padding-inline: 40px;
  backdrop-filter: blur(1em);
  z-index: 1;
}
header .logo {
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}
header .navbar ul li a {
  color: #161616;
  margin: 0 10px;
  font-weight: 700;
  transition: 200ms;
}
header .navbar ul li a:hover {
  color: #f3af03;
  border-bottom: 3px solid;
}

.navbarToggle {
  display: none;
  width: 1.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  z-index: 1000;
  background-color: transparent;
  background-image: url(../assets/icons/Menu.svg);
  color: #ffffff;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}

.navbarToggle:focus {
  outline: white solid 2px;
}

@media (max-width: 700px) {
  header {
    margin: 0;
    padding: 0;
  }
  header .navbar {
    position: fixed;
    background: #161616;
    inset: 0 0 0 30%;
    min-height: 100vh;
    z-index: 999;
    transform: translateX(100%);
    transition: 300ms ease;
  }
  header .navbar ul {
    margin-top: 100px;
    text-align: center;
    flex-direction: column;
  }
  header .navbar ul li {
    margin-top: 20px;
    transform: translateY(-100vh);
    transition: 300ms ease;
  }
  header .navbar ul li a {
    color: #ffffff;
  }
  header .navbar[data-visible=true] {
    transform: translateX(0%);
    transition: 300ms ease;
  }
  header .navbar[data-visible=true] li {
    transform: translateY(0);
  }
  header .navbar[data-visible=true] li li:nth-child(1) {
    transition-delay: 0.25s;
  }
  header .navbar[data-visible=true] li li:nth-child(2) {
    transition-delay: 0.35s;
  }
  header .navbar[data-visible=true] li li:nth-child(3) {
    transition-delay: 0.45s;
  }
  header .navbarToggle {
    display: block;
  }
  header .navbarToggle[aria-expanded=true] {
    background-image: url(../assets/icons/Cross.svg);
    background-color: #ffffff;
  }
}
main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: start;
}
main section {
  padding-block: 20vw;
  width: 75%;
  padding-inline: 50px;
}
main section h1 {
  font-size: 3em;
  margin-bottom: 30px;
}
main section h1 strong {
  color: #f3af03;
  border-bottom: 5px solid;
  padding: 0 initial;
}
main section blockquote {
  margin-bottom: 10px;
}

footer {
  max-width: 100vw;
  position: relative;
  bottom: 0;
  color: #ffffff;
  background: #f3af03;
  margin: 0;
}
footer .footer-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 30px;
  gap: 30px;
}
footer .footer-container form {
  width: clamp(30rem, 50vw, 60vw);
}
footer .footer-container form h3 {
  text-align: center;
  margin: 10px 0;
}
footer .footer-container .email-list-signup {
  place-self: center;
}
footer .footer-container .email-list-signup label {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}
footer .footer-container .email-list-signup label input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  border: none;
  outline-color: #f3af03;
}
footer .footer-container .email-list-signup button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background: #5c4201;
  transition: 300ms ease;
  margin: 10px 0 0 0;
}
footer .footer-container .email-list-signup button:hover {
  background: #fedf91;
  color: #5c4201;
}
footer .copyright {
  background: #5c4201;
  width: 100%;
  row-gap: 30px;
  padding: 10px;
}
footer .copyright .footer-links a {
  text-align: center;
  color: #ffffff;
  transition: 300ms ease;
}
footer .copyright .footer-links a:hover {
  color: #fedf91;
}
