/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             UTILITIES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.sp-btw{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

a{
    text-decoration: none;
    color: color(black);
}

ul{
    list-style-type: none;
}


/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
        GENERAL STYLINGS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             VARIABLES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

$color: (
    primary: #f3af03,
    primary-lighten: lighten(#f3af03, 30%),
    primary-darken: darken(#f3af03, 30%),
    accent: #ffffff,
    black: #161616,
    cta:#272727
);

$device-width: (
    desktop:35em,
    tab: 30em
);

$gap: 10px;

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
         FUNCTIONS and MIXINS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

@function color($color-name){
    @return map-get($color, $color-name);
}

@mixin transitionEase {
    transition: 300ms ease;
}

::-webkit-scrollbar{
    //   background: transparent;
      width: 20px;
} 

::-webkit-scrollbar-thumb{
    background: color(primary);
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track{
    background: color(accent);
}



@media (max-width:700px) {

    ::-webkit-scrollbar{
        width: 5px;
    } 

    ::-webkit-scrollbar-thumb{
        border: 0;
        background-clip: content-box;
    }
}    